/****************************************
       Education sections
*****************************************/


/* customized education fields */
.ul-edu .minor {
  font-size: .95rem;
}

.ul-edu .cert {
  font-size: .95rem;
} 


/****************************************
       Resume 
*****************************************/

/* Experience section */
.cv_description {
  line-height: 160%;
  padding-left: 5%;
  margin-bottom: 1.5rem;
}

.cv_section {
  font-weight: 600;
  margin-bottom: .5rem;

}

.cv_role {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: .11rem;
}

.cv_org {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.cv_date {
  font-size: .9rem;
  font-weight: 300;
  margin-bottom: .3rem;
}


/*     Styling Skills and Software    */

.skills_tech ul {
  list-style: none;
  padding-left: 2.5%;
}

.skills_tech p {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Make experience and skills responsive
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
}

.resume {
  width: 65%;
}

.skills_tech {
  width: 35%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .column {
        width: 100%;
    }
}



/* for some reason post code is broken. I probabl did something */
/* fix all code */
code {
  font-family: "Roboto Mono", monospace;
  font-size: 85%;
}

.prettyprint {
  font-size: .8rem;
  
}
