.post a {
  color: inherit;
}

#wrap .fluid-row {
  background-color: #FFF;
}

.post-date {
  font-size: 14pt;
  font-weight: 300;
}

#post {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
}
