@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900%27);

body, html {
  margin: 0;
  padding: 0;
}

#wrap {
margin:0 auto;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #2E294E;
}

p {
  color: #525252;
}

h2 {
  text-transform: uppercase;
  font-size: 24pt;
}
#header {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background-color: #FFE3AD !important;
  display: block !important;
  position: relative !important;
  text-align: center !important;
  background-size: cover !important;
}

#header h1 {
  letter-spacing: -2px !important;
  text-transform: uppercase !important;
  font-weight: 900 !important;
  color: #323338 !important;
  margin-bottom: 10px !important;
}
#header span {
    display: block !important;
    padding-bottom: 1em !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    font-size: 1.2em !important;
    color: #8e8588 !important;
}
#header h1 a {
  display: block !important;
	letter-spacing: 1px !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
  font-size: 38pt !important;
  font-weight: 900 !important;
	color: #323338 !important;
}
#header ul {
  list-style-type: none !important;
}

.bio {
  width: 66%;
  padding-right: 5%;
  padding-left: .75%;
  float: right;
  line-height: 160%;
  margin-right: auto;
}

.bio a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.bio a:hover {
  color: #749BBC;
  font-size: 14pt;
}

/* NAV */
nav > ul > li {
   display: inline-block;
   padding-bottom: 15px;
}

nav > ul > li:last-child {
      padding-right: 0;
}

nav > ul > li > a,
nav > ul > li > span {
      display: block;
      padding: 1em 1em;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1em;
      outline: 0;
      color: #323338;
}

nav > ul > li > a:hover {
      color: #FFF;
}


nav li.active a {
      background: #323338;
      border-radius: 4px;
      color: #FFF;
}

nav li.active a:hover {
  color: #ADD8FF;
}

nav > ul > li > ul {
      display: none;
}


/* Featured */
#sidebar {
    float: left;
		padding: 0px 0px 0px 0px;
    width: 23.25%;
    padding-left: 5%;
    margin-left: auto;
}

#sidebar ul {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#sidebar ul li {
	display: inline-block;
	padding: 1em 0em;
  border-top: 1px solid #E6E6E6;
	line-height: 160%;
}

#sidebar ul span {
	margin-right: 0.75em;
}

#sidebar ul a {
	text-decoration: none;
	color: #525252;
}

#sidebar ul a:hover {
	text-decoration: underline;
}

#sidebar ul .first {
	border-top: none;
	padding-top: 0px;
}

/** BUTTON STYLE */

	/* Buttons */

		.button
		{
			position: relative;
			display: inline-block;
			margin-top: 2em;
			padding: 1em 1.5em;
			background: #323338;
			border-radius: 4px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.1em;
			color: #FFF;
			-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			cursor: pointer;
		}

			.button:hover
			{
				background: #1f2023;
				color: #FFF !important;
			}

.button-style {
	margin: 20px 0px 20px 0px;
}

.button-style a {
	padding: 7px 20px 7px 20px;
	background: #CEC3A0;
	border-radius: 5px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px #8A8B71;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
