---
layout: null
---
<!DOCTYPE html>
<html>
<head>
  {% include tag_manager_head.html %}
  {% include analytics.html %}
  <title>Josiah Parry</title>
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link href="css/fa.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" type="image/png" href="images/favicon_alt.png"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@josiahparry">
  <meta name="twitter:creator" content="@josiahparry">
  <meta name="twitter:image" content="http://josiahparry.com/images/favicon.png">
  <meta name="twitter:text:title" content="Josiah Parry: Sociology//Data Science">
  <meta name="twitter:text:description" content="Here you can take a look into the things I do, write about, am passionate about, and enjoy.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--load jquery-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdn.datacamp.com/datacamp-light-latest.min.js"></script>
</head>
<body>
  {% include tag_manager_body.html %}
  <div id="wrap">
    <header id="header">
      <h1><a href="https://linkedin.com/in/josiahparry">
        Josiah Parry</a>
      </h1>
      <span>Social Data Scientist & Geospatial Analyst</span>
      <nav id="nav">
        <ul>
          <li class="active"><a href="https://josiahparry.github.io">
            Homepage</a>
          </li>
          <li><a href="https://josiahparry.github.io/blog">
            Blog</a>
          </li>
          <li><a href="https://josiahparry.github.io/cv.html">
            CV</a>
          </li>
          <li><a href="https://linkedin.com/in/josiahparry">
            LinkedIn</a>
          </li>
          <li><a href="https://github.com/josiahparry">
            GitHub</a>
          </li>
          <li><a href="mailto:josiah.parry@yahoo.com?Subject=Reaching%20out!">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
  <section id="sidebar">
      <h2>Featured</h2>
        <ul class="style1">
          <li class="first"><span class="fa fa-file-o"></span><a href="http://josiahparry.com/2017-04-30-I-am-a-Superhero/">I Am A Superhero</a></li><br>
          <li><span class="fa fa-file-o"></span><a href="http://josiahparry.com/2017-01-26-The-end-of-protest-review/">A Take On Protest</a></li>
          <li><span class="fa fa-file-o"></span><a href="https://josiahparry.github.io/2017-01-20-LRPC-Short-Term-Traffic-Cleaning/">LRPC Short Term Traffic Cleaning</a></li>
          <li><span class="fa fa-file-o"></span><a href="http://josiahparry.com/2016-11-17-Reddit-Tidy-data-help/">Reddit Tidy Data Help</a></li>
          <li><span class="fa fa-file-o"></span><a href="http://josiahparry.com/2016-06-16-Sparklyr-Exploration/">Sparklyr Exploration</a></li>

        <!--  <li><span class="fa fa-file-o"></span><a href="#">Etiam rhoncus volutpat erat</a></li>
          <li><span class="fa fa-file-o"></span><a href="#">Donec dictum metus in sapien</a></li>
          <li><span class="fa fa-file-o"></span><a href="#">Integer gravida nibh quis urna</a></li>
          <li><span class="fa fa-file-o"></span><a href="#">Etiam posuere augue sit amet nisl</a></li>
          <li><span class="fa fa-file-o"></span><a href="#">Nulla luctus eleifend purus</a></li>-->
        </ul>
        <a href="https://josiahparry.github.io/blog" class="button">View All</a>
    </section>

  <section class="bio" >
	   <h2>About me:</h2>
				<p>Here you can take a look into the things I do, write about, am passionate about, and enjoy.</p>

				<p>I am a student at <a href="https://www.plymouth.edu">Plymouth State University</a> studying Anthropology and Sociology (my concentration), minoring in mathematics, and pursuing a certificate in Geographic Information Systems (GIS). I use statistical modeling and map-making as a way to further grasp social problems. My workflow usually consists of R, QGIS, ArcGIS, and Git.</p>

				<p>I'm originally from the San Francisco Bay Area, but I currently reside in the beautiful White Mountains of New Hampshire. This juxtaposition of world views has greatly shaped my perspective on modern socio-political issues, leading me to pursue a degree in sociology in an effort to create a more data driven and non-partisan policy.</p>
				<p><strong>Fun facts:</strong></p>
					<ul id="bio_list">
            <li> I am a photographer. </li>
						<li> I am a coffee fanatic, particularly espresso. I used to be a barista.</li>
            <li> I am a seasoned navigator of Ben & Jerry's pints.</li>
						<li> I film musicians performing their songs in live, one-shot sessions called <a href="https://www.youtube.com/AnAtticSession">An Attic Session.</a></li>
						<!--<li> I used to play the guitar in a metal band called <a href="https://www.youtube.com/user/OpusDayMusic">Opus Day</a>.</li>-->
						<li><img src="images/Rlogo.png" height = "20px"/>-user.</li>
					</ul>
		</section>
  </div>
</body>
</html>
