	<head>
		<title>Josiah Parry</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--link to fonts-->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="../js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ site.baseurl }}js/skel.min.js"></script>
		<script src="{{ site.baseurl }}js/skel-panels.min.js"></script>
		<script src="{{ site.baseurl }}js/init.js"></script>
			<!--<link rel="stylesheet" href="{{ site.baseurl }}css/skel-noscript.css" />-->
			<link rel="stylesheet" href="{{ site.baseurl }}style.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="wrapper">

			<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
					<div id="logo">
						<h1><a href="#">Josiah Parry</a></h1>
						<span>Sociologist in training. R-stats & GIS.</span>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{{ site.baseurl }}index.html">Homepage</a></li>
							<li class="active"><a href="/blog">Blog</a></li>
							<li><a href="{{ site.baseurl }}cv.html">CV</a></li>
							<li><a href="http://linkedin.com/in/josiahparry">LinkedIn</a></li>
							<li><a href="http://github.com/josiahparry">GitHub</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /Header -->
