<head>
  <title>Josiah Parry</title>
  <link src="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <header>
    <h1><a href="https://linkedin.com/in/josiahparry">
      Josiah Parry</a>
    </h1>
    <span>Sociologist in training. R-stat & GIS</span>
  </header>
  <nav>
    <ul>
      <li><a href="https://josiahparry.github.io">
        Homepage</a>
      </li>
      <li><a href="https://josiahparry.github.io/blog">
        Blog</a>
      </li>
      <li><a href="https://josiahparry.github.io/CV">
        CV</a>
      </li>
      <li><a href="https://linkedin.com/in/josiahparry">
        LinkedIn</a>
      </li>
      <li><a href="https://github.com/josiahparry">
        GitHub</a>
      </li>
    </ul>
  </nav>
