<!DOCTYPE html>
<html>
<head>
  <title>Josiah Parry</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css"/>
  <link href="../css/fa.css" rel="stylesheet" type="text/css"/>
  <link href="../css/posts.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" type="image/png" href="../images/favicon_alt.png"/>
</head>
<body>
  <div id="wrap">
    <header id="header">
      <h1><a href="https://linkedin.com/in/josiahparry">
        Josiah Parry</a>
      </h1>
      <span>Sociologist in training. R-stat & GIS</span>
      <nav id="nav">
        <ul>
          <li><a href="https://josiahparry.github.io">
            Homepage</a>
          </li>
          <li class="active"><a href="https://josiahparry.github.io/blog">
            Blog</a>
          </li>
          <li><a href="https://josiahparry.github.io/cv.html">
            CV</a>
          </li>
          <li><a href="https://linkedin.com/in/josiahparry">
            LinkedIn</a>
          </li>
          <li><a href="https://github.com/josiahparry">
            GitHub</a>
          </li>
        </ul>
      </nav>
    </header>
