<!DOCTYPE html>
<html>
<head>
  <title>Josiah Parry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://josiahparry.com/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="http://josiahparry.com/css/fa.css" rel="stylesheet" type="text/css"/>
  <link href="http://josiahparry.com/css/posts.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" type="image/png" href="http://josiahparry.com/images/favicon_alt.png"/>
  <!-- jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  {% include metas.html %}
  {% include analytics.html %}
  {% include tag_manager_head.html %}
  {% feed_meta %}
</head>
<body>
  {% include tag_manager_body.html %}
  <div id="wrap">
    <header id="header">
      <h1><a href="https://linkedin.com/in/josiahparry">
        Josiah Parry</a>
      </h1>
      <span>Social Data Scientist & Geospatial Analyst</span>
      <nav id="nav">
        <ul>
          <li><a href="https://josiahparry.github.io">
            Homepage</a>
          </li>
          <li class="active"><a href="https://josiahparry.github.io/blog">
            Blog</a>
          </li>
          <li><a href="https://josiahparry.github.io/cv.html">
            CV</a>
          </li>
          <li><a href="https://linkedin.com/in/josiahparry">
            LinkedIn</a>
          </li>
          <li><a href="https://github.com/josiahparry">
            GitHub</a>
          </li>
          <li><a href="mailto:josiah.parry@yahoo.com?Subject=Reaching%20out!">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
