---
layout: default
title: Blog
---
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@josiahparry">
    <meta name="twitter:creator" content="@josiahparry">
    <meta name="twitter:image" content="http://josiahparry.com/images/favicon.png">
    <meta name="twitter:text:title" content="Josiah Parry: Sociology//Data Science">
    <meta name="twitter:text:description" content="Here you can take a look into the things I do, write about, am passionate about, and enjoy.">
    {% feed_meta %}
      <div>
        <div>
          <section>
            {% for post in site.posts limit: 5 %}
            {% feed_meta %}
            <div class="post">
              <header>
                <h2><a href="{{ post.url }}">
                  {{ post.title }}
                  </a>
                </h2>
                {% if post.subtitle %}
                 <h3 class="post-subtitle">
                     {{ post.subtitle }}
                 </h3>
                {% endif %}
              </header>
              <section>
                <span class="post-date">
                  {{ post.date | date_to_string}}
                </span><br>
                {{ post.content | split: "<!--split-->" | first }}<p><a href="{{ post.url }}">...continued.</a></p>
              </section>
            </div>
            <hr class="ruler">
            {% endfor %}
          </section>
        </div>
      </div>
    <div class="infinite-spinner"></div>
      <!--<<div class="pagination">
        {% if paginator.next_page %}
          <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
        {% else %}
          <span class="pagination-item older">Older</span>
        {% endif %}
        {% if paginator.previous_page %}
          {% if paginator.page == 2 %}
            <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
          {% else %}
            <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
          {% endif %}
        {% else %}
          <span class="pagination-item newer">Newer</span>
        {% endif %}
      </div>-->
