<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@josiahparry">
<meta name="twitter:creator" content="@josiahparry">
<!-- If post image exists use it, if not use default logo-->
{% if page.image %}
<meta name="twitter:image" content="{{ page.image }}">
{% else %}
<meta name="twitter:image" content="http://josiahparry.com/images/favicon.png">
{% endif %}
<!--end twitter image if else-->
<meta name="twitter:text:title" content="{{ page.title }}">
<meta name="twitter:text:description" content="{{ page.excerpt }}">
<!-- If post image exists use it, if not use default logo-->
{% if page.image %}
  <meta content="{{ page.image }}" property="og:image">
{% else %}
  <meta content="http://josiahparry.com/images/favicon.png" property="og:image">
{% endif %}
